<html>
    <head>
      
    </head>
    <body>
        <h1>This is a home page</h1>
        <!--<nav>

            <div class="heading">
      
              <h4>Navigation Bar</h4>
      
            </div>
      
            <ul class="nav-links">
      
              <li><a class="active" href="signup.ejs">signup</a></li>
      
              <li><a href="signin.ejs">Sign in</a></li>
      
              
      
            </ul>
      
          </nav>
      
          <div class=-->
    </body>
</html>